en/en/CB/reports/Crystal/backup 1/AP_Rpt_PaymentDet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AP_Rpt_PaymentDet" targetNamespace="http://tempuri.org/AP_Rpt_PaymentDet.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AP_Rpt_PaymentDet.xsd" xmlns:mstns="http://tempuri.org/AP_Rpt_PaymentDet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Payment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PaymentID" type="xs:string" />
				<xs:element name="SupplierCode" type="xs:string" />
				<xs:element name="PaymentType" type="xs:string" />
				<xs:element name="BankCode" type="xs:string" minOccurs="0" />
				<xs:element name="ChequeNo" type="xs:string" minOccurs="0" />
				<xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="Remark" type="xs:string" minOccurs="0" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="PrintDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierName" type="xs:string" minOccurs="0" />
				<xs:element name="SuppAccCode" type="xs:string" minOccurs="0" />
				<xs:element name="ContactPerson" type="xs:string" minOccurs="0" />
				<xs:element name="Address" type="xs:string" minOccurs="0" />
				<xs:element name="Town" type="xs:string" minOccurs="0" />
				<xs:element name="State" type="xs:string" minOccurs="0" />
				<xs:element name="PostCode" type="xs:string" minOccurs="0" />
				<xs:element name="CountryCode" type="xs:string" minOccurs="0" />
				<xs:element name="TelNo" type="xs:string" minOccurs="0" />
				<xs:element name="FaxNo" type="xs:string" minOccurs="0" />
				<xs:element name="CountryName" type="xs:string" />
				<xs:element name="BankName" type="xs:string" minOccurs="0" />
				<xs:element name="UserName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PaymentLn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PaymentID" type="xs:string" />
				<xs:element name="PaymentLnID" type="xs:string" />
				<xs:element name="DocID" type="xs:string" />
				<xs:element name="DocType" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>