en/reports/crystal/AP_StdRpt_DS_StmtOfAccount.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AP_StdRpt_DS_StmtOfAccount" targetNamespace="http://tempuri.org/AP_StdRpt_DS_StmtOfAccount.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AP_StdRpt_DS_StmtOfAccount.xsd" xmlns:mstns="http://tempuri.org/AP_StdRpt_DS_StmtOfAccount.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AP_STMTOFACCOUNT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierCode" type="xs:string" minOccurs="0" />
				<xs:element name="Name" type="xs:string" minOccurs="0" />
				<xs:element name="Address" type="xs:string" minOccurs="0" />
				<xs:element name="CreditTerm" type="xs:string" minOccurs="0" />
				<xs:element name="CreditLimit" type="xs:decimal" minOccurs="0" />
				<xs:element name="LastInvDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="PaymentDate" type="xs:dateTime" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AP_STMTOFACCOUNT_TRX">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierCode" type="xs:string" minOccurs="0" />
				<xs:element name="DocNo" type="xs:string" minOccurs="0" />
				<xs:element name="Type" type="xs:string" minOccurs="0" />
				<xs:element name="RefDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="RefNo" type="xs:string" minOccurs="0" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="Debit" type="xs:decimal" minOccurs="0" />
				<xs:element name="Credit" type="xs:decimal" minOccurs="0" />
				<xs:element name="Bal" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AP_STMTOFACCOUNT_LOCDET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="Address" type="xs:string" minOccurs="0" />
				<xs:element name="PostCode" type="xs:string" minOccurs="0" />
				<xs:element name="State" type="xs:string" minOccurs="0" />
				<xs:element name="City" type="xs:string" minOccurs="0" />
				<xs:element name="LocCountryName" type="xs:string" minOccurs="0" />
				<xs:element name="TelNo" type="xs:string" minOccurs="0" />
				<xs:element name="FaxNo" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AP_STMTOFACCOUNT_SUMMARY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierCode" type="xs:string" minOccurs="0" />
				<xs:element name="Days30" type="xs:decimal" minOccurs="0" />
				<xs:element name="Days60" type="xs:decimal" minOccurs="0" />
				<xs:element name="Days90" type="xs:decimal" minOccurs="0" />
				<xs:element name="Days120" type="xs:decimal" minOccurs="0" />
				<xs:element name="Days120Abv" type="xs:decimal" minOccurs="0" />
				<xs:element name="AmountDue" type="xs:decimal" minOccurs="0" />
				<xs:element name="NetBal" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AP_STMTOFACCOUNT_BALBF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierCode" type="xs:string" minOccurs="0" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="Debit" type="xs:decimal" minOccurs="0" />
				<xs:element name="Credit" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>