en/reports/crystal/AP_StdRpt_CreditJrnList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AP_StdRpt_CreditJrnList" targetNamespace="http://tempuri.org/AP_StdRpt_CreditJrnList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AP_StdRpt_CreditJrnList.xsd" xmlns:mstns="http://tempuri.org/AP_StdRpt_CreditJrnList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AP_StdRpt_CreditJrnList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CreditJrnID" type="xs:string" />
				<xs:element name="JrnType" type="xs:string" />
				<xs:element name="JrnTypeDesc" type="xs:string" />
				<xs:element name="SupplierCode" type="xs:string" />
				<xs:element name="SupplierName" type="xs:string" />
				<xs:element name="Remark" type="xs:string" minOccurs="0" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="StatusDesc" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="UpdateID" type="xs:string" />
				<xs:element name="CreditJrnLnID" type="xs:string" />
				<xs:element name="DocID" type="xs:string" />
				<xs:element name="DocType" type="xs:string" />
				<xs:element name="DocTypeDesc" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="VehCode" type="xs:string" />
				<xs:element name="VehExpenseCode" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>