en/reports/crystal/AP_StdRpt_InvRcvListing.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AP_StdRpt_InvRcvListing" targetNamespace="http://tempuri.org/AP_StdRpt_InvRcvListing.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AP_StdRpt_InvRcvListing.xsd" xmlns:mstns="http://tempuri.org/AP_StdRpt_InvRcvListing.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AP_StdRpt_InvRcvListing">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvoiceRcvRefNo" type="xs:string" />
				<xs:element name="InvoiceRcvRefDate" type="xs:dateTime" />
				<xs:element name="POID" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierCode" type="xs:string" minOccurs="0" />
				<xs:element name="CreditTerm" type="xs:string" minOccurs="0" />
				<xs:element name="TermType" type="xs:string" />
				<xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="OutstandingAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="Remark" type="xs:string" minOccurs="0" />
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="AccMonth" type="xs:string" minOccurs="0" />
				<xs:element name="AccYear" type="xs:string" minOccurs="0" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="InvoiceRcvID" type="xs:string" />
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="AccCode" type="xs:string" minOccurs="0" />
				<xs:element name="BlkCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehExpenseCode" type="xs:string" minOccurs="0" />
				<xs:element name="QtyInvoice" type="xs:decimal" />
				<xs:element name="Cost" type="xs:decimal" />
				<xs:element name="Amount" type="xs:decimal" />
				<xs:element name="DONo" type="xs:string" />
				<xs:element name="ProdTypeCode" type="xs:string" />
				<xs:element name="ProdCatCode" type="xs:string" />
				<xs:element name="FuelTypeInd" type="xs:string" />
				<xs:element name="ProdBrandCode" type="xs:string" />
				<xs:element name="ProdModelCode" type="xs:string" />
				<xs:element name="ProdMatCode" type="xs:string" />
				<xs:element name="StockAnalysisCode" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="QtyReceive" type="xs:decimal" />
				<xs:element name="Name" type="xs:string" />
				<xs:element name="PurchaseUOM" type="xs:string" />
				<xs:element name="VehTypeCode" type="xs:string" />
				<xs:element name="InvoiceType" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>