en/reports/crystal/AR_StdRpt_BillPartyList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="IN_StdRpt_DS_PRList" targetNamespace="http://tempuri.org/IN_StdRpt_DS_PRList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/IN_StdRpt_DS_PRList.xsd" xmlns:mstns="http://tempuri.org/IN_StdRpt_DS_PRList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AR_StdRpt_BillPartyList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BillPartyCode" type="xs:string" />
				<xs:element name="Name" type="xs:string" minOccurs="0" />
				<xs:element name="ContactPerson" type="xs:string" minOccurs="0" />
				<xs:element name="Address" type="xs:string" minOccurs="0" />
				<xs:element name="Town" type="xs:string" minOccurs="0" />
				<xs:element name="State" type="xs:string" minOccurs="0" />
				<xs:element name="PostCode" type="xs:string" />
				<xs:element name="CountryCode" type="xs:string" />
				<xs:element name="CountryDesc" type="xs:string" minOccurs="0" />
				<xs:element name="TelNo" type="xs:string" />
				<xs:element name="FaxNo" type="xs:string" />
				<xs:element name="Email" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="CreditTerm" type="xs:string" />
				<xs:element name="TermType" type="xs:string" />
				<xs:element name="CreditLimit" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="UpdateID" type="xs:string" />
				<xs:element name="Username" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>