en/reports/crystal/AR_StdRpt_DebitNoteListing.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AP_StdRpt_InvRcvListing" targetNamespace="http://tempuri.org/AP_StdRpt_InvRcvListing.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AP_StdRpt_InvRcvListing.xsd" xmlns:mstns="http://tempuri.org/AP_StdRpt_InvRcvListing.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AR_StdRpt_DebitNoteListing">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DebitNoteID" type="xs:string" />
				<xs:element name="LocCode" type="xs:dateTime" />
				<xs:element name="DocType" type="xs:string" />
				<xs:element name="BillPartyCode" type="xs:string" minOccurs="0" />
				<xs:element name="Name" type="xs:string" minOccurs="0" />
				<xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="OutstandingAmount" type="xs:decimal" />
				<xs:element name="CustRef" type="xs:string" minOccurs="0" />
				<xs:element name="DeliveryRef" type="xs:string" minOccurs="0" />
				<xs:element name="Remark" type="xs:string" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="AccCode" type="xs:string" minOccurs="0" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="Unit" type="xs:decimal" minOccurs="0" />
				<xs:element name="Cost" type="xs:decimal" />
				<xs:element name="Amount" type="xs:decimal" />
				<xs:element name="BlkCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehExpenseCode" type="xs:string" minOccurs="0" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="PrintDate" type="xs:dateTime" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>