en/reports/crystal/AR_StdRpt_DebtorJournalListing.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AP_StdRpt_DebtorJournalListing" targetNamespace="http://tempuri.org/AP_StdRpt_DebtorJournalListing.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AP_StdRpt_DebtorJournalListing.xsd" xmlns:mstns="http://tempuri.org/AP_StdRpt_DebtorJournalListing.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AR_StdRpt_DebtorJournalListing">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DebtorJrnID" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="BillParty" type="xs:string" />
				<xs:element name="JrnType" type="xs:string" />
				<xs:element name="OutstandingAmount" type="xs:decimal" />
				<xs:element name="TotalAmount" type="xs:decimal" />
				<xs:element name="Remark" type="xs:string" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="UpdateID" type="xs:string" />
				<xs:element name="UserName" type="xs:string" />

				<xs:element name="DebtorJrnLnId" type="xs:string" />
				<xs:element name="DocID" type="xs:string" />
				<xs:element name="DocType" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" />

				<xs:element name="VehCode" type="xs:string" />
				<xs:element name="VehExpenseCode" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>