en/reports/crystal/AR_StdRpt_InvoiceAttch.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AR_StdRpt_InvoiceAttch" targetNamespace="http://tempuri.org/AR_StdRpt_InvoiceAttch.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AR_StdRpt_InvoiceAttch.xsd" xmlns:mstns="http://tempuri.org/AR_StdRpt_InvoiceAttch.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AR_INVATTCH_MATCH">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="MatchingId" type="xs:string" />
				<xs:element name="ProductCode" type="xs:string" />
				<xs:element name="BuyerCode" type="xs:string" />
				<xs:element name="BuyerName" type="xs:string" />
				<xs:element name="BDQty" type="xs:decimal" minOccurs="0" />
				<xs:element name="ContractNo" type="xs:string" />
				<xs:element name="ContractQty" type="xs:decimal" minOccurs="0" />
				<xs:element name="Qty" type="xs:decimal" minOccurs="0" />
				<xs:element name="DelMonth" type="xs:string" />
				<xs:element name="DelYear" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AR_INVATTCH_TICKET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="MatchingId" type="xs:string" />
				<xs:element name="BuyerCode" type="xs:string" />
				<xs:element name="BuyerName" type="xs:string" />
				<xs:element name="ProductCode" type="xs:string" />
				<xs:element name="DeliveryNoteNo" type="xs:string" />
				<xs:element name="DateReceived" type="xs:dateTime" />
				<xs:element name="VehicleCode" type="xs:string" />
				<xs:element name="CustomerDocNo" type="xs:string" />
				<xs:element name="BuyerNetWeight" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>