en/reports/crystal/AR_StdRpt_DebtAccAgeing.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AR_StdRpt_DebtAccAgeing" targetNamespace="http://tempuri.org/AR_StdRpt_DebtAccAgeing.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AR_StdRpt_DebtAccAgeing.xsd" xmlns:mstns="http://tempuri.org/AR_StdRpt_DebtAccAgeing.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AR_DEBTACCAGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="BillPartyName" type="xs:string" />
				<xs:element name="BillPartyCode" type="xs:string" />
				<xs:element name="CreditTerm" type="xs:string" />
				<xs:element name="CreditLimit" type="xs:decimal" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="AgeCat1" type="xs:decimal" />
				<xs:element name="AgeCat2" type="xs:decimal" />
				<xs:element name="AgeCat3" type="xs:decimal" />
				<xs:element name="AgeCat4" type="xs:decimal" />
				<xs:element name="AgeCat5" type="xs:decimal" />
				<xs:element name="TotalAmount" type="xs:decimal" />
				<xs:element name="AmountDue" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>