en/reports/crystal/CB_StdRpt_PosisiDeposito.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CB_StdRpt_PosisiDeposito" targetNamespace="http://tempuri.org/CB_StdRpt_PosisiDeposito.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CB_StdRpt_PosisiDeposito.xsd" xmlns:mstns="http://tempuri.org/CB_StdRpt_PosisiDeposito.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CB_StdRpt_PosisiDeposito">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BankCode" type="xs:string" />
				<xs:element name="BankDescription" type="xs:string" />
				<xs:element name="AccountNo" type="xs:string" />
				<xs:element name="BilyetNo" type="xs:string" />
				<xs:element name="StartDate" type="xs:dateTime" />
				<xs:element name="EndDate" type="xs:dateTime" />
				<xs:element name="Amount" type="xs:double" />
				<xs:element name="DepositRate" type="xs:double" />
				<xs:element name="CurrencyRate" type="xs:double" />
				<xs:element name="Currency" type="xs:string" />
				<xs:element name="Type" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
				<xs:element name="Remarks" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="UpdateID" type="xs:string" />
				<xs:element name="Interest" type="xs:double" />
				<xs:element name="InterestAdjusted" type="xs:double" />
				<xs:element name="WithdrawalRate" type="xs:double" />
				<xs:element name="WithdrawalDate" type="xs:dateTime" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>