en/reports/crystal/CB_StdRpt_DailyGiro_Report.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CB_StdRpt_DailyGiro_Report" targetNamespace="http://tempuri.org/CB_StdRpt_DailyGiro_Report.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CB_StdRpt_DailyGiro_Report.xsd" xmlns:mstns="http://tempuri.org/CB_StdRpt_DailyGiro_Report.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CB_StdRpt_DailyGiro_Report">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="LocCode" type="xs:string" />
        <xs:element name="AccYear" type="xs:string" />
        <xs:element name="AccMonth" type="xs:string" />
        <xs:element name="DocID" type="xs:string" />
        <xs:element name="BankCode" type="xs:string" />
        <xs:element name="BankAccNo" type="xs:string" />
        <xs:element name="ChequeDate" type="xs:date" />
        <xs:element name="Name" type="xs:string" />
        <xs:element name="SupplierCode" type="xs:string" />
        <xs:element name="SplBankAccNo" type="xs:string" />
        <xs:element name="GiroNo" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" />
        <xs:element name="GroupAmount" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
