en/reports/crystal/CM_StdRpt_MPOB_Price_TransactionList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="IN_StdRpt_DS_PRList" targetNamespace="http://tempuri.org/IN_StdRpt_DS_PRList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/IN_StdRpt_DS_PRList.xsd" xmlns:mstns="http://tempuri.org/IN_StdRpt_DS_PRList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CM_StdRpt_MPOB_Price_TransactionList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="AccMonth" type="xs:string" minOccurs="0" />
				<xs:element name="AccYear" type="xs:string" minOccurs="0" />
				<xs:element name="ProductCode" type="xs:string" />
				<xs:element name="Price" type="xs:decimal" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="UpdateID" type="xs:string" />
				<xs:element name="Username" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>