en/reports/crystal/CM_StdRpt_SalesSum.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CM_SALESSUM" targetNamespace="http://tempuri.org/CM_SALESSUM.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CM_SALESSUM.xsd" xmlns:mstns="http://tempuri.org/CM_SALESSUM.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CM_SALESSUM">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="LocCode" type="xs:string" />
        <xs:element name="AccMonth" type="xs:string" />
        <xs:element name="AccYear" type="xs:string" />
        <xs:element name="ProductCode" type="xs:string" />
        <xs:element name="ProductDesc" type="xs:string" />
        <xs:element name="ContractQty" type="xs:decimal" />
        <xs:element name="CurrencyCode" type="xs:decimal" />
        <xs:element name="PriceOri" type="xs:decimal" />
        <xs:element name="PPN" type="xs:decimal" />
        <xs:element name="Amount" type="xs:decimal" />
        <xs:element name="AmountOA" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>