en/reports/crystal/CT_StdRpt_DS_MthCTAccMoveList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CT_StdRpt_DS_MthCTAccMoveList" targetNamespace="http://tempuri.org/CT_StdRpt_DS_MthCTAccMoveList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CT_StdRpt_DS_MthCTAccMoveList.xsd" xmlns:mstns="http://tempuri.org/CT_StdRpt_DS_MthCTAccMoveList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CT_StdRpt_DS_MthCTAccMoveList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProdCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProdDesc" type="xs:string" minOccurs="0" />
				<xs:element name="ItemCode" type="xs:string" minOccurs="0" />
				<xs:element name="ItemDesc" type="xs:string" minOccurs="0" />
				<xs:element name="OpeningAmt" type="xs:decimal" />
				<xs:element name="ReceiveAmt" type="xs:decimal" />
				<xs:element name="ReturnAdviceAmt" type="xs:decimal" />
				<xs:element name="TransferAmt" type="xs:decimal" />
				<xs:element name="AdjustmentAmt" type="xs:decimal" />
				<xs:element name="IssueAmt" type="xs:decimal" />
				<xs:element name="ReturnAmt" type="xs:decimal" />
				<xs:element name="ClosingAmt" type="xs:decimal" />
				<xs:element name="GoodsReceiveAmt" type="xs:decimal" />
				<xs:element name="GoodsReturnAmt" type="xs:decimal" />
				<xs:element name="DispatchAdviceAmt" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>