en/reports/crystal/CT_StdRpt_DS_StkUsageFreqList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CT_StdRpt_DS_StkUsageFreqList" targetNamespace="http://tempuri.org/CT_StdRpt_DS_StkUsageFreqList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CT_StdRpt_DS_StkUsageFreqList.xsd" xmlns:mstns="http://tempuri.org/CT_StdRpt_DS_StkUsageFreqList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CT_StdRpt_DS_StkUsageFreqList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="Bin" type="xs:string" minOccurs="0" />
				<xs:element name="UOMCode" type="xs:string" />
				<xs:element name="NoOfDays" type="xs:decimal" minOccurs="0" />
				<xs:element name="ClosingBal" type="xs:decimal" minOccurs="0" />
				<xs:element name="QtyOutstanding" type="xs:decimal" minOccurs="0" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="LastIssueDate" type="xs:dateTime" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>