en/reports/crystal/CT_StdRpt_DS_TradingAccList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CT_StdRpt_DS_TradingAccList" targetNamespace="http://tempuri.org/CT_StdRpt_DS_TradingAccList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CT_StdRpt_DS_TradingAccList.xsd" xmlns:mstns="http://tempuri.org/CT_StdRpt_DS_TradingAccList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CT_StdRpt_DS_TradingAccList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="ItemDesc" type="xs:string" />
				<xs:element name="UOMCode" type="xs:string" />
				<xs:element name="MthIssQty" type="xs:decimal" minOccurs="0" />
				<xs:element name="MthIssCost" type="xs:decimal" minOccurs="0" />
				<xs:element name="MthIssSales" type="xs:decimal" minOccurs="0" />
				<xs:element name="MthProfitAmt" type="xs:decimal" minOccurs="0" />
				<xs:element name="MthProfitMargin" type="xs:decimal" minOccurs="0" />
				<xs:element name="ToDateIssQty" type="xs:decimal" minOccurs="0" />
				<xs:element name="ToDateIssCost" type="xs:decimal" minOccurs="0" />
				<xs:element name="ToDateIssSales" type="xs:decimal" minOccurs="0" />
				<xs:element name="ToDateProfitAmt" type="xs:decimal" minOccurs="0" />
				<xs:element name="ToDateProfitMargin" type="xs:decimal" minOccurs="0" />
				<xs:element name="PricingSales" type="xs:decimal" minOccurs="0" />
				<xs:element name="PricingCost" type="xs:decimal" minOccurs="0" />
				<xs:element name="PricingMargin" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>