en/reports/crystal/CT_StdRpt_DS_StkReceiveList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CT_StdRpt_DS_StkReceiveList" targetNamespace="http://tempuri.org/CT_StdRpt_DS_StkReceiveList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CT_StdRpt_DS_StkReceiveList.xsd" xmlns:mstns="http://tempuri.org/CT_StdRpt_DS_StkReceiveList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CT_StdRpt_DS_StkReceiveList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CanteenRcvID" type="xs:string" />
				<xs:element name="CanteenRcvLnID" type="xs:string" />
				<xs:element name="CanteenDocType" type="xs:string" minOccurs="0" />
				<xs:element name="CanteenRefNo" type="xs:string" minOccurs="0" />
				<xs:element name="CanteenRefDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="Remark" type="xs:string" minOccurs="0" />
				<xs:element name="CreateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="DocID" type="xs:string" minOccurs="0" />
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="ItemDesc" type="xs:string" />
				<xs:element name="UOMCode" type="xs:string" />
				<xs:element name="Cost" type="xs:decimal" minOccurs="0" />
				<xs:element name="Amount" type="xs:decimal" minOccurs="0" />
				<xs:element name="Qty" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>