en/reports/crystal/CT_StdRpt_DS_MthlyIssueForPayrollBillList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CT_StdRpt_DS_MthlyIssueForPayrollBillList" targetNamespace="http://tempuri.org/CT_StdRpt_DS_MthlyIssueForPayrollBillList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CT_StdRpt_DS_MthlyIssueForPayrollBillList.xsd" xmlns:mstns="http://tempuri.org/CT_StdRpt_DS_MthlyIssueForPayrollBillList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CT_PAYROLLBILL">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="Code" type="xs:string" />
				<xs:element name="Name" type="xs:string" />
				<xs:element name="Chits" type="xs:string" />
				<xs:element name="TotalAmt" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
