en/reports/crystal/GL_ESTATE_MR_IV1C_PRODUKSI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GL_ESTATE_MR_IV1C_PRODUKSI" targetNamespace="http://tempuri.org/GL_ESTATE_MR_IV1C_PRODUKSI.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_ESTATE_MR_IV1C_PRODUKSI.xsd" xmlns:mstns="http://tempuri.org/GL_ESTATE_MR_IV1C_PRODUKSI.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="GL_BIAYA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LocCode" type="xs:string" />
        <xs:element name="AccMonth" type="xs:string" />
        <xs:element name="AccYear" type="xs:string" />
        <xs:element name="BlkgrpCode" type="xs:string" />
        <xs:element name="BlkCode" type="xs:string" />
        <xs:element name="SubBlkCode" type="xs:decimal" />
        <xs:element name="TotalArea" type="xs:decimal" />
        <xs:element name="SPH" type="xs:decimal" />
        <xs:element name="GID" type="xs:decimal" />
        <xs:element name="GName" type="xs:decimal" />
        <xs:element name="AID" type="xs:decimal" />
        <xs:element name="Name" type="xs:decimal" />
        <xs:element name="_1" type="xs:decimal" />
        <xs:element name="_2" type="xs:decimal" />
        <xs:element name="_3" type="xs:decimal" />
        <xs:element name="_4" type="xs:decimal" />
        <xs:element name="_5" type="xs:decimal" />
        <xs:element name="_6" type="xs:decimal" />
        <xs:element name="_7" type="xs:decimal" />
        <xs:element name="_8" type="xs:decimal" />
        <xs:element name="_9" type="xs:decimal" />
        <xs:element name="_10" type="xs:decimal" />
        <xs:element name="_11" type="xs:decimal" />
        <xs:element name="_12" type="xs:decimal" />
        <xs:element name="_13" type="xs:decimal" />
        <xs:element name="_14" type="xs:decimal" />
        <xs:element name="_15" type="xs:decimal" />
        <xs:element name="_16" type="xs:decimal" />
        <xs:element name="_17" type="xs:decimal" />
        <xs:element name="_18" type="xs:decimal" />
        <xs:element name="_19" type="xs:decimal" />
        <xs:element name="_20" type="xs:decimal" />
        <xs:element name="_21" type="xs:decimal" />
        <xs:element name="_22" type="xs:decimal" />
        <xs:element name="_23" type="xs:decimal" />
        <xs:element name="_24" type="xs:decimal" />
        <xs:element name="_25" type="xs:decimal" />
        <xs:element name="_26" type="xs:decimal" />
        <xs:element name="_27" type="xs:decimal" />
        <xs:element name="_28" type="xs:decimal" />
        <xs:element name="_29" type="xs:decimal" />
        <xs:element name="_30" type="xs:decimal" />
        <xs:element name="_31" type="xs:decimal" />
        <xs:element name="Total" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>