en/reports/crystal/GL_StdRpt_PemupukanTM.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_StdRpt_PemupukanTM" targetNamespace="http://tempuri.org/GL_StdRpt_PemupukanTM.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_PemupukanTM.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_PemupukanTM.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_PEMUPUKANTM">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BlkGrpCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="TotalArea" type="xs:decimal" />
				<xs:element name="TotalStand" type="xs:decimal" />
				<xs:element name="StdPerArea" type="xs:decimal" />
				<xs:element name="Urea" type="xs:decimal" />
				<xs:element name="RP" type="xs:decimal" />
				<xs:element name="KCLMOP" type="xs:decimal" />
				<xs:element name="Kieserit" type="xs:decimal" />
				<xs:element name="Dolomit" type="xs:decimal" />
				<xs:element name="HGFB" type="xs:decimal" />
				<xs:element name="UreaDsg" type="xs:decimal" />
				<xs:element name="RPDsg" type="xs:decimal" />
				<xs:element name="KCLMOPDsg" type="xs:decimal" />
				<xs:element name="KieseritDsg" type="xs:decimal" />
				<xs:element name="DolomitDsg" type="xs:decimal" />
				<xs:element name="HGFBDsg" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>