en/reports/crystal/GL_StdRpt_PekDanTang.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_StdRpt_PekDanTang" targetNamespace="http://tempuri.org/GL_StdRpt_PekDanTang.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_TrialBalEstExp.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_PekDanTang.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_PEKDANTANG">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RptName" type="xs:string" />
				<xs:element name="NoDec" type="xs:string" />
				<xs:element name="CompCode" type="xs:string" />
				<xs:element name="Company" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="Location" type="xs:string" />
				<xs:element name="MonthPeriod" type="xs:string" />
				<xs:element name="YearPeriod" type="xs:string" />
				<xs:element name="RomRemark" type="xs:string" />
				<xs:element name="NoRemark" type="xs:decimal" />
				<xs:element name="AlpRemark" type="xs:string" />
				<xs:element name="DrillRemark" type="xs:string" />
				<xs:element name="DivisionCode" type="xs:string" />
				<xs:element name="TotalArea" type="xs:decimal" minOccurs="0" />
				<xs:element name="Gender" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
