en/reports/crystal/GL_StdRpt_NotaDebet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_StdRpt_NotaDebet" targetNamespace="http://tempuri.org/GL_StdRpt_NotaDebet.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_NotaDebet.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_NotaDebet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_StdRpt_NotaDebet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="AccMonth" type="xs:int" />
				<xs:element name="AccYear" type="xs:int" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="DocDate" type="xs:dateTime" />
				<xs:element name="DocID" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
				<xs:element name="Unit" type="xs:decimal" />
				<xs:element name="Cost" type="xs:decimal" />
				<xs:element name="Amount" type="xs:decimal" />
				<xs:element name="Price" type="xs:decimal" />
				<xs:element name="PriceAmount" type="xs:decimal" />
				<xs:element name="Terbilang" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>