en/reports/crystal/GL_StdRpt_DetTrialBalTransEst.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_StdRpt_DetTrialBalTransEst" targetNamespace="http://tempuri.org/GL_StdRpt_DetTrialBalTransEst.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_DetTrialBalTransEst.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_DetTrialBalTransEst.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_ESTEXP">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MthDREstExp" type="xs:decimal" minOccurs="0" />
				<xs:element name="MthCREstExp" type="xs:decimal" minOccurs="0" />
				<xs:element name="TDDREstExp" type="xs:decimal" minOccurs="0" />
				<xs:element name="TDCREstExp" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>