en/reports/crystal/GL_StdRpt_Estate_Mgr_Aresta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GL_StdRpt_Estate_Mgr_Aresta" targetNamespace="http://tempuri.org/GL_StdRpt_Estate_Mgr_Aresta.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_Estate_Mgr_Aresta.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_Estate_Mgr_Aresta.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_BIAYA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RptName" type="xs:string"  />
				<xs:element name="CompCode" type="xs:string"  />
				<xs:element name="Company" type="xs:string"  />
				<xs:element name="LocCode" type="xs:string"  />
				<xs:element name="Location" type="xs:string"  />
				<xs:element name="AccMonth" type="xs:string"  />
				<xs:element name="AccYear" type="xs:string"  />
				<xs:element name="DivCode" type="xs:string"/>
				<xs:element name="GrpType" type="xs:string"  />
				<xs:element name="RptBlkType" type="xs:string" />
				<xs:element name="TTCode" type="xs:string" />
				<xs:element name="TTName" type="xs:string" />
				<xs:element name="TTArea" type="xs:decimal"  />
				<xs:element name="TTStand" type="xs:decimal" />
				<xs:element name="BLKCode" type="xs:string" />
				<xs:element name="BLKName" type="xs:string" />
				<xs:element name="BLKArea" type="xs:decimal" />
				<xs:element name="BLKStand" type="xs:decimal" />
				<xs:element name="PMthArea" type="xs:decimal" />
				<xs:element name="PMthStand" type="xs:decimal" />
				<xs:element name="MutasArea" type="xs:decimal" />
				<xs:element name="MutasStand" type="xs:decimal" />
				<xs:element name="YrArea" type="xs:decimal" />
				<xs:element name="YrStand" type="xs:decimal" />	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GL_PROD">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="LocCode" type="xs:string"  />
				<xs:element name="DivCode" type="xs:string" />
				<xs:element name="GrpType" type="xs:string"  />
				<xs:element name="RptBlkType" type="xs:string"  />
				<xs:element name="TTCode" type="xs:string" />
				<xs:element name="TTName" type="xs:string" />
				<xs:element name="TTArea" type="xs:decimal" />
				<xs:element name="TTStand" type="xs:decimal"  />
				<xs:element name="PMthArea" type="xs:decimal" />
				<xs:element name="PMthStand" type="xs:decimal" />
				<xs:element name="MutasArea" type="xs:decimal" />
				<xs:element name="MutasStand" type="xs:decimal" />
				<xs:element name="YrArea" type="xs:decimal" />
				<xs:element name="YrStand" type="xs:decimal" />	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>