en/reports/crystal/GL_StdRpt_DS_JournalList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_StdRpt_DS_JournalList" targetNamespace="http://tempuri.org/GL_StdRpt_DS_JournalList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_DS_JournalList.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_DS_JournalList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_StdRpt_DS_JournalList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="JournalID" type="xs:string" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="TransactType" type="xs:string" />
				<xs:element name="RefNo" type="xs:string" minOccurs="0" />
				<xs:element name="DocDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="DocAmt" type="xs:decimal" minOccurs="0" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="LineDesc" type="xs:string" />
				<xs:element name="Quantity" type="xs:decimal" minOccurs="0" />
				<xs:element name="UnitPrice" type="xs:decimal" minOccurs="0" />
				<xs:element name="Total" type="xs:decimal" minOccurs="0" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehExpCode" type="xs:string" minOccurs="0" />
				<xs:element name="ChargeLocCode" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>