en/reports/crystal/GL_StdRpt_PemeliharaanTanaman.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_PEMELIHARAANTANAMAN" targetNamespace="http://tempuri.org/GL_StdRpt_PemeliharaanTanaman.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_PemeliharaanTanaman.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_PemeliharaanTanaman.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_PEMELIHARAANTANAMAN">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rptname" type="xs:string" />
				<xs:element name="nodec" type="xs:string" />
				<xs:element name="compcode" type="xs:string" />
				<xs:element name="loccode" type="xs:string" />
				<xs:element name="locname" type="xs:string" />
				<xs:element name="accmonth" type="xs:string" />
				<xs:element name="accyear" type="xs:string" />
				<xs:element name="loclevel" type="xs:string" />
				<xs:element name="actcode" type="xs:string" />
				<xs:element name="actdesc" type="xs:string" />
				<xs:element name="subactcode" type="xs:string" />
				<xs:element name="subactdesc" type="xs:string" />
				<xs:element name="type" type="xs:string" />
				<xs:element name="uom" type="xs:string" />
				<xs:element name="rotation" type="xs:string" />
				<xs:element name="totalarea" type="xs:decimal" />
				<xs:element name="uomall" type="xs:string" />
				<xs:element name="wpactualbi" type="xs:decimal" />
				<xs:element name="wpbudgetbi" type="xs:decimal" />
				<xs:element name="wpactualsbi" type="xs:decimal" />
				<xs:element name="wpbudgetsbi" type="xs:decimal" />
				<xs:element name="wpbudgetyearly" type="xs:decimal" />
				<xs:element name="amtactualbi" type="xs:decimal" />
				<xs:element name="amtbudgetbi" type="xs:decimal" />
				<xs:element name="amtactualsbi" type="xs:decimal" />
				<xs:element name="amtbudgetsbi" type="xs:decimal" />
				<xs:element name="amtbudgetyearly" type="xs:decimal" />
				<xs:element name="remark" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

