en/reports/crystal/GL_StdRpt_MaintHarvDet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_StdRpt_MaintHarvDet" targetNamespace="http://tempuri.org/GL_StdRpt_MaintHarvDet.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_MaintHarvDet.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_MaintHarvDet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="MaintHarvDet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="DispType" type="xs:string" />
				<xs:element name="ActMTDArea" type="xs:decimal" />
				<xs:element name="ActYTDArea" type="xs:decimal" />
				<xs:element name="BgtMTDArea" type="xs:decimal" />
				<xs:element name="BgtYTDArea" type="xs:decimal" />
				<xs:element name="ActMTDWgt" type="xs:decimal" />
				<xs:element name="ActYTDWgt" type="xs:decimal" />
				<xs:element name="BgtMTDWgt" type="xs:decimal" />
				<xs:element name="BgtYTDWgt" type="xs:decimal" />
				<xs:element name="ActGrpCode" type="xs:string" />
				<xs:element name="ExpDesc" type="xs:string" />
				<xs:element name="ActCode" type="xs:string" />
				<xs:element name="ActDesc" type="xs:string" />
				<xs:element name="YrBgt" type="xs:decimal" />
				<xs:element name="ActMTD" type="xs:decimal" />
				<xs:element name="ActYTD" type="xs:decimal" />
				<xs:element name="BgtMTD" type="xs:decimal" />
				<xs:element name="BgtYTD" type="xs:decimal" />
				<xs:element name="AddVoteYTD" type="xs:decimal" />
				<xs:element name="Variance" type="xs:decimal" />
				<xs:element name="ActMTDCA" type="xs:decimal" />
				<xs:element name="ActYTDCA" type="xs:decimal" />
				<xs:element name="BgtMTDCA" type="xs:decimal" />
				<xs:element name="BgtYTDCA" type="xs:decimal" />
				<xs:element name="ActMTDCW" type="xs:decimal" />
				<xs:element name="ActYTDCW" type="xs:decimal" />
				<xs:element name="BgtMTDCW" type="xs:decimal" />
				<xs:element name="BgtYTDCW" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaintHarvSumSub">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="DispType" type="xs:string" />
				<xs:element name="UOM" type="xs:string" />
				<xs:element name="ExpDesc" type="xs:string" />
				<xs:element name="YrBgt" type="xs:decimal" />
				<xs:element name="ActMTD" type="xs:decimal" />
				<xs:element name="ActYTD" type="xs:decimal" />
				<xs:element name="BgtMTD" type="xs:decimal" />
				<xs:element name="BgtYTD" type="xs:decimal" />
				<xs:element name="Variance" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>