en/reports/crystal/GL_StdRpt_TrialBalanceTrial.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_StdRpt_TrialBalance" targetNamespace="http://tempuri.org/GL_StdRpt_TrialBalance.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_TrialBalance.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_TrialBalance.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_TRIALBAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="AccDesc" type="xs:string" />
				<xs:element name="AccType" type="xs:string" />
				<xs:element name="AccTypeDesc" type="xs:string" />
				<xs:element name="OpenBal" type="xs:decimal" minOccurs="0" />
				<xs:element name="Debit" type="xs:decimal" minOccurs="0" />
				<xs:element name="Credit" type="xs:decimal" minOccurs="0" />
				<xs:element name="Balance" type="xs:decimal" minOccurs="0" />
				<xs:element name="CloseBal" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>