en/reports/crystal/GL_StdRpt_DetailedTrialBalanceByTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GL_StdRpt_DetailedTrialBalance_By_Trans" targetNamespace="http://tempuri.org/GL_StdRpt_DetailedTrialBalance_By_Trans.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_DetailedTrialBalance_By_Trans.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_DetailedTrialBalance_By_Trans.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_DET_TRIAL_BALANCE_BY_TRANS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocId" type="xs:string" />
				<xs:element name="DocLnID" type="xs:string" />
				<xs:element name="DocType" type="xs:string" />
				<xs:element name="DocDate" type="xs:dateTime" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="ModuleCode" type="xs:string" />
				<xs:element name="AccMonth" type="xs:int" />
				<xs:element name="AccYear" type="xs:int" />
				<xs:element name="EmpCode" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="AccDescr" type="xs:string" />
				<xs:element name="Debit" type="xs:decimal" />
				<xs:element name="Credit" type="xs:decimal" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="VehCode" type="xs:string" />
				<xs:element name="VehExpenseCode" type="xs:string" />
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>