en/reports/crystal/HR_StdRpt_MPOBPriceListing.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="HR_StdRpt_MPOBPriceListing" targetNamespace="http://tempuri.org/HR_StdRpt_MPOBPriceListing.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/HR_StdRpt_MPOBPriceListing.xsd" xmlns:mstns="http://tempuri.org/HR_StdRpt_MPOBPriceListing.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="HR_MPOBPriceListing">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BonusCode" type="xs:string" minOccurs="0" />
				<xs:element name="Description" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>