en/reports/crystal/IN_STDRPT_RKP__STOCK_BLNAN_GROUP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CT_StdRpt_DS_ItemRetAdvList" targetNamespace="http://tempuri.org/CT_StdRpt_DS_ItemRetAdvList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CT_StdRpt_DS_ItemRetAdvList.xsd" xmlns:mstns="http://tempuri.org/CT_StdRpt_DS_ItemRetAdvList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="IN_STDRPT_RKP_STOCK_BLNAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ItemCode" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="UOMCode" type="xs:string" />
        <xs:element name="QtySAw" type="xs:decimal" minOccurs="0" />
        <xs:element name="HrgaSAw" type="xs:decimal" minOccurs="0" />
        <xs:element name="QtyIN" type="xs:decimal" minOccurs="0" />
        <xs:element name="HrgaIN" type="xs:decimal" />
        <xs:element name="QtyOut" type="xs:decimal" />
        <xs:element name="HrgaOut" type="xs:decimal" />
        <xs:element name="QtyAk" type="xs:decimal" />
        <xs:element name="HrgAk" type="xs:decimal" />
        <xs:element name="ProdTypeCode" type="xs:string" />
        <xs:element name="ProdTypeName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>