en/reports/crystal/IN_StdRpt_NJF_Estate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="IN_StdRpt_NJF_Estate" targetNamespace="http://tempuri.org/IN_StdRpt_NJF_Estate.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/IN_StdRpt_NJF_Estate.xsd" xmlns:mstns="http://tempuri.org/IN_StdRpt_NJF_Estate.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:NS="http://tempuri.org/IN_StdRpt_NJF_Estate.xsd">
	<xs:element name="IN_StdRpt_NJF_Estate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="Docid" type="xs:string" />
				<xs:element name="Tgl" type="xs:date" />
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="ItemName" type="xs:string" />
				<xs:element name="Qty" type="xs:decimal" />
				<xs:element name="Cost" type="xs:decimal" />
				<xs:element name="Price" type="xs:decimal" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="AccName" type="xs:string" />
				<xs:element name="BlokCode" type="xs:string" />
				<xs:element name="Notes" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>