en/reports/crystal/IN_StdRpt_DS_MthStkAccMoveDetails.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="IN_StdRpt_DS_MthStkAccMoveDetails" targetNamespace="http://tempuri.org/IN_StdRpt_DS_MthStkAccMoveDetails.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/IN_StdRpt_DS_MthStkAccMoveDetails.xsd" xmlns:mstns="http://tempuri.org/IN_StdRpt_DS_MthStkAccMoveDetails.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="IN_StdRpt_DS_MthStkAccMoveDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProdCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProdDesc" type="xs:string" minOccurs="0" />
				<xs:element name="ItemCode" type="xs:string" minOccurs="0" />
				<xs:element name="ItemDesc" type="xs:string" minOccurs="0" />
				<xs:element name="OpeningBal" type="xs:decimal" />
				<xs:element name="OpeningBalQty" type="xs:decimal" />
				<xs:element name="Receive" type="xs:decimal" />
				<xs:element name="ReceiveQty" type="xs:decimal" />
				<xs:element name="ReturnAdvice" type="xs:decimal" />
				<xs:element name="ReturnAdviceQty" type="xs:decimal" />
				<xs:element name="Transfer" type="xs:decimal" />
				<xs:element name="TransferQty" type="xs:decimal" />
				<xs:element name="Adjustment" type="xs:decimal" />
				<xs:element name="AdjustmentQty" type="xs:decimal" />
				<xs:element name="LedgerIssue" type="xs:decimal" />
				<xs:element name="LedgerIssueQty" type="xs:decimal" />
				<xs:element name="BlockIssue" type="xs:decimal" />
				<xs:element name="BlockIssueQty" type="xs:decimal" />
				<xs:element name="VehicleIssue" type="xs:decimal" />
				<xs:element name="VehicleIssueQty" type="xs:decimal" />
				<xs:element name="TotalIssue" type="xs:decimal" />
				<xs:element name="TotalIssueQty" type="xs:decimal" />
				<xs:element name="StkRtn" type="xs:decimal" />
				<xs:element name="StkRtnQty" type="xs:decimal" />
				<xs:element name="Closing" type="xs:decimal" />
				<xs:element name="ClosingQty" type="xs:decimal" />
				<xs:element name="GoodsReceive" type="xs:decimal" />
				<xs:element name="GoodsReceiveQty" type="xs:decimal" />
				<xs:element name="GoodsReturn" type="xs:decimal" />
				<xs:element name="GoodsReturnQty" type="xs:decimal" />
				<xs:element name="DispatchAdvice" type="xs:decimal" />
				<xs:element name="DispatchAdviceQty" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>