en/reports/crystal/PM_StdRpt_MonthlyProd_Record.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PM_StdRpt_MonthlyProd_Record" targetNamespace="http://tempuri.org/PM_StdRpt_Daily_Prod_Rpt.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PM_StdRpt_Daily_Prod_Rpt.xsd" xmlns:mstns="http://tempuri.org/PM_StdRpt_Daily_Prod_Rpt.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="WM_STDRPT_PRODUCTION_TBS_CPO_KERNEL_MONTHLY_GET">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DateProd" type="xs:dateTime" />
        <xs:element name="LocCode" type="xs:string" />
        <xs:element name="TglOPenStock" type="xs:dateTime" minOccurs="0" />
        <xs:element name="Opening_Stock" type="xs:decimal" minOccurs="0" />
        <xs:element name="TotalReceivedInternal" type="xs:decimal" />
        <xs:element name="TotalReceivedExternal" type="xs:decimal" />
        <xs:element name="TotalReceivedBruto" type="xs:decimal" />
        <xs:element name="SortaseWeight" type="xs:decimal" />
        <xs:element name="TotalReceivedNetto" type="xs:decimal" />
        <xs:element name="FFBProcesedNetto" type="xs:decimal" />
        <xs:element name="FFBProcesed_Restan" type="xs:decimal" />
        <xs:element name="CPO_Procesed" type="xs:decimal" />
        <xs:element name="CPO_ExtrakNetto" type="xs:decimal" />
        <xs:element name="PK_Procesed" type="xs:decimal" />
        <xs:element name="PK_ExtrakNetto" type="xs:decimal" />
        <xs:element name="Procesed_Hour" type="xs:decimal" />
        <xs:element name="Procesed_Capacity" type="xs:decimal" />
        <xs:element name="NamaPerusahaan" type="xs:string" />
        <xs:element name="NamaUnit" type="xs:string" />
        <xs:element name="Alamat" type="xs:string" />
        <xs:element name="Kota" type="xs:string" />
        <xs:element name="Kecamatan" type="xs:string" />
        <xs:element name="Propinsi" type="xs:string" />
        <xs:element name="Telp" type="xs:string" />
        <xs:element name="NmManager" type="xs:string" />
        <xs:element name="NmKTU" type="xs:string" />
        <xs:element name="pAskep" type="xs:string" />
        <xs:element name="pASISTEN" type="xs:string" />
        <xs:element name="p_Tahun" type="xs:string" />
        <xs:element name="p_Bulan" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>