en/reports/crystal/PM_StdRpt_Water_Quality_Rpt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PM_StdRpt_Water_Quality_Rpt" targetNamespace="http://tempuri.org/PM_StdRpt_Water_Quality_Rpt.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PM_StdRpt_Water_Quality_Rpt.xsd" xmlns:mstns="http://tempuri.org/PM_StdRpt_Water_Quality_Rpt.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PM_StdRpt_Water_Quality_Rpt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="FFA1" type="xs:decimal" minOccurs="0" />
				<xs:element name="FFA2" type="xs:decimal" minOccurs="0" />
				<xs:element name="FFA3" type="xs:decimal" minOccurs="0" />
				<xs:element name="FFA_K" type="xs:string" minOccurs="0" />
				<xs:element name="VM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="VM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="VM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="VM_K" type="xs:string" minOccurs="0" />
				<xs:element name="Dirt1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Dirt2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Dirt3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Dirt_K" type="xs:string" minOccurs="0" />
				<xs:element name="MinStdWetOilRebus1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilRebus1" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetRebus1" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMRebus1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSRebus1" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMRebus1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMRebus1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMRebus1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilRebus2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilRebus2" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetRebus2" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMRebus2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSRebus2" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMRebus2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMRebus2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMRebus2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilJjgKsg" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilJjgKsg" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetJjgKsg" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMJjgKsg" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSJjgKsg" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMJjgKsg" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMJjgKsg" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMJjgKsg" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilUSB" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilUSB" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetUSB" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMUSB" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSUSB" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMUSB" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMUSB" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMUSB" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilFinal" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilFinal" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetFinal" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMFinal" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSFinal" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMFinal" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMFinal" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMFinal" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilAmpas1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilAmpas1" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetAmpas1" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMAmpas1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSAmpas1" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMAmpas1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMAmpas1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMAmpas1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilAmpas2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilAmpas2" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetAmpas2" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMAmpas2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSAmpas2" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMAmpas2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMAmpas2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMAmpas2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilAmpas3" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilAmpas3" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetAmpas3" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMAmpas3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSAmpas3" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMAmpas3" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMAmpas3" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMAmpas3" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilAmpas4" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilAmpas4" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetAmpas4" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMAmpas4" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSAmpas4" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMAmpas4" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMAmpas4" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMAmpas4" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilSludge1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilSludge1" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetSludge1" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMSludge1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSSludge1" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMSludge1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMSludge1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMSludge1" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilSludge2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilSludge2" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetSludge2" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMSludge2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSSludge2" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMSludge2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMSludge2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMSludge2" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilSludge3" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilSludge3" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetSludge3" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMSludge3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSSludge3" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMSludge3" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMSludge3" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMSludge3" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilSludge4" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilSludge4" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetSludge4" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMSludge4" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSSludge4" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMSludge4" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMSludge4" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMSludge4" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilCOT" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilCOT" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetCOT" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMCOT" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSCOT" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMCOT" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMCOT" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMCOT" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdWetOilUFC" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdWetOilUFC" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilWetUFC" type="xs:decimal" minOccurs="0" />
				<xs:element name="VMUFC" type="xs:decimal" minOccurs="0" />
				<xs:element name="NOSUFC" type="xs:decimal" minOccurs="0" />
				<xs:element name="OilDMUFC" type="xs:decimal" minOccurs="0" />
				<xs:element name="MinStdOilDMUFC" type="xs:decimal" minOccurs="0" />
				<xs:element name="MaxStdOilDMUFC" type="xs:decimal" minOccurs="0" />
				<xs:element name="PH1" type="xs:decimal" minOccurs="0" />
				<xs:element name="PH2" type="xs:decimal" minOccurs="0" />
				<xs:element name="PH3" type="xs:decimal" minOccurs="0" />
				<xs:element name="PH_K" type="xs:string" minOccurs="0" />
				<xs:element name="Hardness1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Hardness2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Hardness3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Hardness_K" type="xs:string" minOccurs="0" />
				<xs:element name="Alkalinity1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity_K" type="xs:string" minOccurs="0" />
				<xs:element name="TDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="TDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="TDS3" type="xs:decimal" minOccurs="0" />
				<xs:element name="TDS_K" type="xs:string" minOccurs="0" />
				<xs:element name="Silica1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Silica2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Silica3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Silica_K" type="xs:string" minOccurs="0" />
				<xs:element name="PH21" type="xs:decimal" minOccurs="0" />
				<xs:element name="PH22" type="xs:decimal" minOccurs="0" />
				<xs:element name="PH23" type="xs:decimal" minOccurs="0" />
				<xs:element name="PH2_K" type="xs:string" minOccurs="0" />
				<xs:element name="Hardness21" type="xs:decimal" minOccurs="0" />
				<xs:element name="Hardness22" type="xs:decimal" minOccurs="0" />
				<xs:element name="Hardness23" type="xs:decimal" minOccurs="0" />
				<xs:element name="Hardness2_K" type="xs:string" minOccurs="0" />
				<xs:element name="Alkalinity21" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity22" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity23" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity2_K" type="xs:string" minOccurs="0" />

				<xs:element name="TDS21" type="xs:decimal" minOccurs="0" />
				<xs:element name="TDS22" type="xs:decimal" minOccurs="0" />
				<xs:element name="TDS23" type="xs:decimal" minOccurs="0" />
				<xs:element name="TDS2_K" type="xs:string" minOccurs="0" />
				<xs:element name="Silica21" type="xs:decimal" minOccurs="0" />
				<xs:element name="Silica22" type="xs:decimal" minOccurs="0" />
				<xs:element name="Silica23" type="xs:decimal" minOccurs="0" />
				<xs:element name="Silica2_K" type="xs:string" minOccurs="0" />
				<xs:element name="Sulfit21" type="xs:decimal" minOccurs="0" />
				<xs:element name="Sulfit22" type="xs:decimal" minOccurs="0" />
				<xs:element name="Sulfit23" type="xs:decimal" minOccurs="0" />
				<xs:element name="Sulfit2_K" type="xs:string" minOccurs="0" />
                                <xs:element name="Squest21" type="xs:decimal" minOccurs="0" />
				<xs:element name="Squest22" type="xs:decimal" minOccurs="0" />
				<xs:element name="Squest23" type="xs:decimal" minOccurs="0" />
				<xs:element name="Squest2_K" type="xs:string" minOccurs="0" />
				<xs:element name="Alkalinity31" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity32" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity33" type="xs:decimal" minOccurs="0" />
				<xs:element name="Alkalinity3_K" type="xs:string" minOccurs="0" />
				<xs:element name="Reb1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Reb2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Reb3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Reb_K" type="xs:string" minOccurs="0" />
				<xs:element name="Wak1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Wak2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Wak3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Wak_K" type="xs:string" minOccurs="0" />
				<xs:element name="Dig1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Dig2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Dig3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Dig_K" type="xs:string" minOccurs="0" />
				<xs:element name="Slg1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Slg2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Slg3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Slg_K" type="xs:string" minOccurs="0" />
				<xs:element name="Otk1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Otk2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Otk3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Otk_K" type="xs:string" minOccurs="0" />
				<xs:element name="Opu1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Opu2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Opu3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Opu_K" type="xs:string" minOccurs="0" />
				<xs:element name="Vdr1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Vdr2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Vdr3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Vdr_K" type="xs:string" minOccurs="0" />
				<xs:element name="Kdr1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Kdr2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Kdr3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Kdr_K" type="xs:string" minOccurs="0" />
				<xs:element name="Tvd1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Tvd2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Tvd3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Tvd_K" type="xs:string" minOccurs="0" />
				<xs:element name="Smr1" type="xs:decimal" minOccurs="0" />
				<xs:element name="Smr2" type="xs:decimal" minOccurs="0" />
				<xs:element name="Smr3" type="xs:decimal" minOccurs="0" />
				<xs:element name="Smr_K" type="xs:string" minOccurs="0" />
				<xs:element name="AccMonth" type="xs:string" minOccurs="0" />
				<xs:element name="AccYear" type="xs:string" minOccurs="0" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="CreateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="UserName" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>