en/reports/crystal/PM_StdRpt_KernelLossesTransactionList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PM_StdRpt_KernelLossesTransactionList" targetNamespace="http://tempuri.org/PM_StdRpt_KernelLossesTransactionList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PM_StdRpt_KernelLossesTransactionList.xsd" xmlns:mstns="http://tempuri.org/PM_StdRpt_KernelLossesTransactionList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PM_StdRpt_KernelLossesTransactionList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOCCODE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSDATE" type="xs:dateTime" />
				<xs:element name="ProcessLnNo" type="xs:decimal" />
				<xs:element name="SampelGrLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelRugiGrLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelRugiPsLTDS1" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelRugiGrLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelRugiPsLTDS2" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelRugiGrCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelRugiPsCB" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangGrPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangPsPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="PecahPerTotalGrPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="PecahPerTotalPsPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalPerSampelGrPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalPerSampelPsPC1" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangGrPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangPsPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="PecahPerTotalGrPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="PecahPerTotalPsPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalPerSampelGrPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalPerSampelPsPC2" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangGrPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangPsPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="PecahPerTotalGrPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="PecahPerTotalPsPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalPerSampelGrPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalPerSampelPsPC3" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangGrPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangPsPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="PecahPerTotalGrPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="PecahPerTotalPsPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalPerSampelGrPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalPerSampelPsPC4" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangGrRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangPsRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="EffisiensiGrRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="EffisiensiPsRM1" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangGrRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangPsRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="EffisiensiGrRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="EffisiensiPsRM2" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelGrRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="SampelPsRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhGrRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutUtuhPsRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahGrRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="NutPecahPsRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatGrRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelBulatPsRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahGrRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="KernelPecahPsRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangGrRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="CangkangPsRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="EffisiensiGrRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="EffisiensiPsRM3" type="xs:decimal" minOccurs="0" />
				<xs:element name="TransMonthYear" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>