en/reports/crystal/PM_StdRpt_KernelQualityTransactionList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PM_StdRpt_KernelQualityTransactionList" targetNamespace="http://tempuri.org/PM_StdRpt_KernelQualityTransactionList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PM_StdRpt_KernelQualityTransactionList.xsd" xmlns:mstns="http://tempuri.org/PM_StdRpt_KernelQualityTransactionList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PM_StdRpt_KernelQualityTransactionListMain">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOCCODE" type="xs:string" minOccurs="0" />
				<xs:element name="TRANSDATE" type="xs:dateTime" minOccurs="0" />
				<xs:element name="TRANSMONTHYEAR" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PM_StdRpt_KernelQualityTransactionListDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOCCODE" type="xs:string" />
				<xs:element name="TRANSMONTHYEAR" type="xs:string" />
				<xs:element name="TRANSDATE" type="xs:dateTime" />
				<xs:element name="TYPE" type="xs:integer" />
				<xs:element name="COLID" type="xs:integer" />
				<xs:element name="PROCESSLNNO" type="xs:integer" />
				<xs:element name="VALUE" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PM_StdRpt_KernelQualityTransactionListTitleBar">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LOCCODE" type="xs:string" />
				<xs:element name="PROCESSLNNO" type="xs:integer" />
				<xs:element name="PROCESSLNDESC" type="xs:string" />
				<xs:element name="COLID" type="xs:integer" />
				<xs:element name="COLNAME" type="xs:string" />
				<xs:element name="NUM" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>