en/reports/crystal/PR_Doc_DS_TaxCP39.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_Doc_DS_TaxCP39" targetNamespace="http://tempuri.org/PR_Doc_DS_TaxCP39.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_Doc_DS_TaxCP39.xsd" xmlns:mstns="http://tempuri.org/PR_Doc_DS_TaxCP39.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_Doc_DS_TaxCP39">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompCode" type="xs:string" />
				<xs:element name="CompName" type="xs:string" />
				<xs:element name="Address" type="xs:string" />

				<xs:element name="TaxBranchCode" type="xs:string" />
				<xs:element name="TaxBranchDesc" type="xs:string" minOccurs="0" />
				<xs:element name="EmployerTaxNo" type="xs:string" minOccurs="0" />

				<xs:element name="EmpCode" type="xs:string" />
				<xs:element name="EmpName" type="xs:string" minOccurs="0" />
				<xs:element name="NewICNo" type="xs:string" minOccurs="0" />
				<xs:element name="OldICNo" type="xs:string" minOccurs="0" />

				<xs:element name="TaxNo" type="xs:string" minOccurs="0" />
				<xs:element name="TaxScheme" type="xs:string" minOccurs="0" />
				<xs:element name="TaxBranch" type="xs:string" minOccurs="0" />

				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="ADCode" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
