en/reports/crystal/PR_StdRpt_DS_Cheque.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_DS_Cheque" targetNamespace="http://tempuri.org/PR_StdRpt_DS_Cheque.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_DS_Cheque.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_DS_Cheque.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_Cheque">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="WagesID" type="xs:integer" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="CompCode" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="EmpCode" type="xs:string" />
				<xs:element name="EmpName" type="xs:string" />
				<xs:element name="ChequeAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="ChequeWords" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="PrintDate" type="xs:date" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SH_REPORT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReportID" type="xs:string" />
				<xs:element name="RptTitle" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>