en/reports/crystal/PR_StdRpt_DS_Cheque1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_DS_Cheque" targetNamespace="http://tempuri.org/PR_StdRpt_DS_Cheque.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_DS_Cheque.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_DS_Cheque.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_StdRpt_DS_Cheque">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EmpName" type="xs:string" />
				<xs:element name="ChequeAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="ChequeWords" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>