en/reports/crystal/PR_StdRpt_DS_WagesPaymentList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_DS_WagesPaymentList" targetNamespace="http://tempuri.org/PR_StdRpt_DS_WagesPaymentList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_DS_WagesPaymentList.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_DS_WagesPaymentList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_WagesPaymentList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="CompCode" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="EmpCode" type="xs:string" />
				<xs:element name="EmpName" type="xs:string" />
				<xs:element name="ICNo" type="xs:string" />
				<xs:element name="DeferPayInd" type="xs:string" />
				<xs:element name="DeptCode" type="xs:string" />
				<xs:element name="TerminateDate" type="xs:date" />
				<xs:element name="PayMode" type="xs:string" />
				<xs:element name="BankCode" type="xs:string" />
				<xs:element name="BankAccNo" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" />
				<xs:element name="ChequeNo" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SH_REPORT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReportID" type="xs:string" />
				<xs:element name="RptTitle" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>