en/reports/crystal/PR_StdRpt_DS_CheckRollReconPayBFList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_DS_CheckRollReconPayBFList" targetNamespace="http://tempuri.org/PR_StdRpt_DS_CheckRollReconPayBFList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_DS_CheckRollReconPayBFList.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_DS_CheckRollReconPayBFList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_StdRpt_DS_CheckRollReconPayBFList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ADCode" type="xs:string" />
				<xs:element name="ADDesc" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="PayBFADAmount" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>