en/reports/crystal/PR_StdRpt_AdvPaymentListing.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_AdvPaymentListing" targetNamespace="http://tempuri.org/PR_StdRpt_AdvPaymentListing.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_AdvPaymentListing.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_AdvPaymentListing.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_AdvPaymentListing">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EmpCode" type="xs:string" minOccurs="0" />
				<xs:element name="EmpName" type="xs:string" />
				<xs:element name="GangCode" type="xs:string" />
				<xs:element name="GangLeader" type="xs:string" />
				<xs:element name="WifeInd" type="xs:string" />
				<xs:element name="NoChild" type="xs:decimal" />
				<xs:element name="NoPayDays" type="xs:decimal" />
				<xs:element name="CatuBeras" type="xs:decimal" />
				<xs:element name="AdvSalaryPyt" type="xs:decimal" />
				<xs:element name="SalSchemeCode" type="xs:string" />
				<xs:element name="Manager" type="xs:string" />
				<xs:element name="Kasie" type="xs:string" />
				<xs:element name="DeptHead" type="xs:string" />
				<xs:element name="DeptCode" type="xs:string" />
				<xs:element name="Incentive" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>