en/reports/crystal/PR_StdRpt_Astek_Estate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PR_StdRpt_Astek_Estate" targetNamespace="http://tempuri.org/PR_StdRpt_Astek_Estate.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_Astek_Estate.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_Astek_Estate.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:NS="http://tempuri.org/PR_StdRpt_Astek_Estate.xsd">
	<xs:element name="PR_StdRpt_Astek_Estate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RptName" type="xs:string" minOccurs="0" />
				<xs:element name="CompCode" type="xs:string" />
				<xs:element name="Company" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="Location" type="xs:string" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="Accyear" type="xs:string" />
				<xs:element name="Phymonth" type="xs:string" />
				<xs:element name="Phyyear" type="xs:string" />
				<xs:element name="DivCode" type="xs:string" />
				<xs:element name="DivName" type="xs:string" />
				<xs:element name="Empcode" type="xs:string" />
				<xs:element name="Empname" type="xs:string" />
				<xs:element name="EmpType" type="xs:string" />
                <xs:element name="gapok" type="xs:decimal" />				
				<xs:element name="JKM_Tg" type="xs:decimal" />
				<xs:element name="JKK_Tg" type="xs:decimal" />
				<xs:element name="JHT_Tg" type="xs:decimal" />
				<xs:element name="JHT_pot" type="xs:decimal" />
				<xs:element name="A_TOT" type="xs:decimal" />
				<xs:element name="JPK_Tg" type="xs:decimal" />
				<xs:element name="JPK_pot" type="xs:decimal" />
				<xs:element name="B_TOT" type="xs:decimal" />
				<xs:element name="JP_Tg" type="xs:decimal" />
				<xs:element name="JP_pot" type="xs:decimal" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>