en/reports/crystal/PR_StdRpt_DailyAllowanceTrans.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_DailyAllowanceTrans" targetNamespace="http://tempuri.org/PR_StdRpt_DailyAllowanceTrans.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_DailyAllowanceTrans.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_DailyAllowanceTrans.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_DAILYALLOWANCETRANS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="EmpCode" type="xs:string" />
				<xs:element name="EmpName" type="xs:string" minOccurs="0" />
				<xs:element name="EmpDesc" type="xs:string" />
				<xs:element name="AttDate" type="xs:dateTime" />
				<xs:element name="AttCode" type="xs:string" />
				<xs:element name="PayType" type="xs:string" />
				<xs:element name="Manday" type="xs:decimal" />
				<xs:element name="MandayKey" type="xs:string" />
				<xs:element name="ADCode" type="xs:string" />
				<xs:element name="ADDesc" type="xs:string" />
				<xs:element name="VehCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehExpenseCode" type="xs:string" minOccurs="0" />
				<xs:element name="BlkCode" type="xs:string" minOccurs="0" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="Unit" type="xs:decimal" />
				<xs:element name="Rate" type="xs:decimal" />
				<xs:element name="DefHours" type="xs:decimal" />
				<xs:element name="ShiftCode" type="xs:string" />
				<xs:element name="Shift" type="xs:string" />
				<xs:element name="ShiftAmount" type="xs:decimal" />
				<xs:element name="Allowance" type="xs:decimal" />
				<xs:element name="PriceBonusCode" type="xs:string" />
				<xs:element name="AddBonusCode" type="xs:string" />
				<xs:element name="PriceBonusRate" type="xs:decimal" />
				<xs:element name="AddBonusRate" type="xs:decimal" />
				<xs:element name="CostAmount" type="xs:decimal" />
				<xs:element name="ChargeLocCode" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SH_REPORT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReportID" type="xs:string" />
				<xs:element name="RptTitle" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>