en/reports/crystal/PR_StdRpt_DS_EPFBorangA.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_DS_EPFBorangA" targetNamespace="http://tempuri.org/PR_StdRpt_DS_EPFBorangA.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_DS_EPFBorangA.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_DS_EPFBorangA.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_EPFBorangA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EPFNo" type="xs:string" minOccurs="0" />
				<xs:element name="NewICNo" type="xs:string" minOccurs="0" />
				<xs:element name="OldICNo" type="xs:string" minOccurs="0" />
				<xs:element name="EmpCode" type="xs:string" minOccurs="0" />
				<xs:element name="EmpName" type="xs:string" minOccurs="0" />
				<xs:element name="EmprContribution" type="xs:decimal" minOccurs="0" />
				<xs:element name="EmpeContribution" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>