en/reports/crystal/PR_StdRpt_ContractCheckrollAllow.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_ContractCheckrollAllow" targetNamespace="http://tempuri.org/PR_StdRpt_ContractCheckrollAllow.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_ContractCheckrollAllow.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_ContractCheckrollAllow.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_StdRpt_ContractCheckrollAllow">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="SupplierCode" type="xs:string" />
				<xs:element name="SuppName" type="xs:string" minOccurs="0" />
				<xs:element name="AttdDate" type="xs:dateTime" />
				<xs:element name="AttdCode" type="xs:string" />
				<xs:element name="Allowance" type="xs:decimal"  minOccurs="0" />
				<xs:element name="EmpCode" type="xs:string" />
				<xs:element name="EmpName" type="xs:string" />
				<xs:element name="AttCodeEmp" type="xs:string" />
				<xs:element name="DailyWorkerAllow" type="xs:decimal"  minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>