en/reports/crystal/PR_StdRpt_PensiunListing.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_StdRpt_PensiunListing" targetNamespace="http://tempuri.org/PR_StdRpt_PensiunListing.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_PensiunListing.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_PensiunListing.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PR_PensiunListing">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EmpCode" type="xs:string" />
				<xs:element name="PensionNo" type="xs:string" minOccurs="0" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="EmpName" type="xs:string" />
				<xs:element name="DOB" type="xs:date" />
				<xs:element name="AppJoinDate" type="xs:date" />
				<xs:element name="EmpCategory" type="xs:string" />
				<xs:element name="Code" type="xs:string" />
				<xs:element name="IDP" type="xs:decimal" />
				<xs:element name="PSL" type="xs:decimal" />
				<xs:element name="Ket" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>