en/reports/crystal/PR_StdRpt_Workshop_Daily.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="WORKSHOP_DAILY" targetNamespace="http://tempuri.org/PR_StdRpt_Workshop_Daily.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_StdRpt_DaftarAbsensi.xsd" xmlns:mstns="http://tempuri.org/PR_StdRpt_ListSalAndAllw.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:NS="http://tempuri.org/PR_StdRpt_Workshop_Daily.xsd">
	<xs:element name="WORKSHOP_DAILY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompName" type="xs:string" />
				<xs:element name="COA" type="xs:string" />
				<xs:element name="Location" type="xs:string" />
				<xs:element name="BKMDate" type="xs:string" />
				<xs:element name="CodeBlok" type="xs:string" />
				<xs:element name="runhourfrom" type="xs:decimal" />
				<xs:element name="runhourto" type="xs:decimal" />
				<xs:element name="UsageUnit" type="xs:decimal" />
				<xs:element name="UOM" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="WORKSHOP_ITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="COA_ITEM" type="xs:string" />
				<xs:element name="CodeItem" type="xs:string" />
				<xs:element name="itemdesc" type="xs:string" />
				<xs:element name="BKMDate" type="xs:string" />
				<xs:element name="CodeBlok" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>