en/reports/crystal/PU_StdRpt_DS_GoodsRcvList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PU_StdRpt_DS_GoodsRcvList" targetNamespace="http://tempuri.org/PU_StdRpt_DS_GoodsRcvList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PU_StdRpt_DS_GoodsRcvList.xsd" xmlns:mstns="http://tempuri.org/PU_StdRpt_DS_GoodsRcvList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PU_StdRpt_DS_GoodsRcvList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierCode" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierName" type="xs:string" minOccurs="0" />
				<xs:element name="GoodsRcvRefNo" type="xs:string" minOccurs="0" />
				<xs:element name="GoodsRcvRefDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="POID" type="xs:string" minOccurs="0" />
				<xs:element name="POQty" type="xs:decimal" minOccurs="0" />
				<xs:element name="GoodsRcvId" type="xs:string" minOccurs="0" />
				<!-- Add by YWC on 3/6/2004 on BFR 00027 item (9) -->
				<xs:element name="ItemCode" type="xs:string" minOccurs="0" />
				<xs:element name="ItemDesc" type="xs:string" minOccurs="0" />
				<xs:element name="ReceiveUOM" type="xs:string" minOccurs="0" />
				<xs:element name="ReceiveQty" type="xs:decimal" minOccurs="0" />
				<xs:element name="AccCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehExpenseCode" type="xs:string" minOccurs="0" />
				<xs:element name="BlkCode" type="xs:string" minOccurs="0" />
				<xs:element name="Cost" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalCost" type="xs:decimal" minOccurs="0" />
				<xs:element name="AdditionalNote" type="xs:string" minOccurs="0" />
				<xs:element name="dispadvid" type="xs:string" />
				<xs:element name="qtydisp" type="xs:decimal" />
				<xs:element name="manager" type="xs:string" />
				<xs:element name="kasie" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>