en/reports/crystal/RPT_PSGR_MANIFEST.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="RPT_PSGR_MANIFEST" targetNamespace="http://tempuri.org/RPT_PSGR_MANIFEST.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/RPT_PSGR_MANIFEST.xsd" xmlns:mstns="http://tempuri.org/RPT_PSGR_MANIFEST.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="RPT_PSGR_MANIFEST">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FLIGHTNO" type="xs:string" />
				<xs:element name="AIRLINECODE" type="xs:string" />
				<xs:element name="TICKETNO" type="xs:string" />
				<xs:element name="SEATNO" type="xs:string" />
				<xs:element name="NAME" type="xs:dateTime" />
				<xs:element name="CHECKINTIME" type="xs:dateTime" />
				<xs:element name="BOARDINGTIME" type="xs:dateTime" />
				<xs:element name="BAGQTY" type="xs:decimal" minOccurs="0" />
				<xs:element name="BAGWEIGHT" type="xs:decimal" minOccurs="0" />
				<xs:element name="STATUS" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RPT_FLIGHT_MANIFEST">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FLIGHTNO" type="xs:string" />
				<xs:element name="AIRLINECODE" type="xs:string" />
				<xs:element name="ORIGIN" type="xs:string" />
				<xs:element name="ORIGIN_STATE" type="xs:string" />
				<xs:element name="DESTINATION" type="xs:string" />
				<xs:element name="DESTINATION_STATE" type="xs:string" />
				<xs:element name="ESTDEPARTURETIME" type="xs:dateTime" />
				<xs:element name="ESTARRIVALTIME" type="xs:dateTime" />
				<xs:element name="REALDEPARTURETIME" type="xs:dateTime" />
				<xs:element name="REALARRIVALTIME" type="xs:dateTime" />
				<xs:element name="DIFFDEPARTURE" type="xs:string" />
				<xs:element name="DIFFARRIVAL" type="xs:string" />
				<xs:element name="QTY_PSGR" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>