en/reports/crystal/WM_StdRpt_FFBRcvSumBySupplier.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="WM_StdRpt_FFBRcvSum_BySupplier" targetNamespace="http://tempuri.org/WM_StdRpt_FFBRcvSum_BySupplier.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/WM_StdRpt_FFBRcvSum_BySupplier.xsd" xmlns:mstns="http://tempuri.org/WM_StdRpt_FFBRcvSum_BySupplier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="WM_StdRpt_FFBRcvSum_BySupplier">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="SuppType" type="xs:string" />
				<xs:element name="Name" type="xs:string" />
				<xs:element name="NetWeight" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>