en/reports/crystal/WM_StdRpt_FFBRcvSumBySupplier_Monthly.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="WM_StdRpt_FFBRcvSum_BySupplier" targetNamespace="http://tempuri.org/WM_StdRpt_FFBRcvSum_BySupplier.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/WM_StdRpt_FFBRcvSum_BySupplier.xsd" xmlns:mstns="http://tempuri.org/WM_StdRpt_FFBRcvSum_BySupplier.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="WM_STDRPT_FFB_SUMMARY_MONTHLY_DETAIL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SupplierCode" type="xs:string" />
        <xs:element name="SupplierName" type="xs:string" />
        <xs:element name="QtyDay1" type="xs:decimal" />
        <xs:element name="QtyDay2" type="xs:decimal" minOccurs="0" />
        <xs:element name="QtyDay3" type="xs:decimal" />
        <xs:element name="QtyDay4" type="xs:decimal" />
        <xs:element name="QtyDay5" type="xs:decimal" />
        <xs:element name="QtyDay6" type="xs:decimal" />
        <xs:element name="QtyDay7" type="xs:decimal" />
        <xs:element name="QtyDay8" type="xs:decimal" />
        <xs:element name="QtyDay9" type="xs:decimal" />
        <xs:element name="QtyDay10" type="xs:decimal" />
        <xs:element name="QtyDay11" type="xs:decimal" />
        <xs:element name="QtyDay12" type="xs:decimal" />
        <xs:element name="QtyDay13" type="xs:decimal" />
        <xs:element name="QtyDay14" type="xs:decimal" />
        <xs:element name="QtyDay15" type="xs:decimal" />
        <xs:element name="QtyDay16" type="xs:decimal" />
        <xs:element name="QtyDay17" type="xs:decimal" />
        <xs:element name="QtyDay18" type="xs:decimal" />
        <xs:element name="QtyDay19" type="xs:decimal" />
        <xs:element name="QtyDay20" type="xs:decimal" />
        <xs:element name="QtyDay21" type="xs:decimal" />
        <xs:element name="QtyDay22" type="xs:decimal" />
        <xs:element name="QtyDay23" type="xs:decimal" />
        <xs:element name="QtyDay24" type="xs:decimal" />
        <xs:element name="QtyDay25" type="xs:decimal" />
        <xs:element name="QtyDay26" type="xs:decimal" />
        <xs:element name="QtyDay27" type="xs:decimal" />
        <xs:element name="QtyDay28" type="xs:decimal" />
        <xs:element name="QtyDay29" type="xs:decimal" />
        <xs:element name="QtyDay30" type="xs:decimal" />
        <xs:element name="QtyDay31" type="xs:decimal" />
        <xs:element name="Total" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>