en/reports/crystal/WS_StdRpt_CompletedJobSheet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="WS_StdRpt_CompletedJobSheet" targetNamespace="http://tempuri.org/WS_StdRpt_CompletedJobSheet.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/WS_StdRpt_CompletedJobSheet.xsd" xmlns:mstns="http://tempuri.org/WS_StdRpt_CompletedJobSheet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="MAIN_REPORT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="JobID" type="xs:string" />
				<xs:element name="VehCode" type="xs:string" />
				<xs:element name="BillEmpCode" type="xs:string" />
				<xs:element name="ChrgRate" type="xs:decimal" />
				<xs:element name="JobStartDate" type="xs:dateTime" />
				<xs:element name="JobEndDate" type="xs:dateTime" />
				<xs:element name="BlkCode" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JOBSTOCK">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="JobID" type="xs:string" />
				<xs:element name="JobStockID" type="xs:string" />
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="ItemDesc" type="xs:string" />
				<xs:element name="WorkCode" type="xs:string" />
				<xs:element name="Qty" type="xs:decimal" />
				<xs:element name="Price" type="xs:decimal" />
				<xs:element name="TotalAmount" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MECHANIC_HOUR">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="JobID" type="xs:string" />
				<xs:element name="WorkingDate" type="xs:dateTime" />
				<xs:element name="EmpCode" type="xs:string" />
				<xs:element name="EmpName" type="xs:string" />
				<xs:element name="WorkCode" type="xs:string" />
				<xs:element name="WorkDesc" type="xs:string" />
				<xs:element name="HourSpent" type="xs:integer" />
				<xs:element name="MinuteSpent" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>