en/reports/crystal/WS_StdRpt_DS_StockTakeList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="WS_StdRpt_DS_StockTakeList" targetNamespace="http://tempuri.org/WS_StdRpt_DS_StockTakeList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/WS_StdRpt_DS_StockTakeList.xsd" xmlns:mstns="http://tempuri.org/WS_StdRpt_DS_StockTakeList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="WS_STOCKTAKE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProdTypeCode" type="xs:string" />
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
				<xs:element name="UOMCode" type="xs:string" />
				<xs:element name="AverageCost" type="xs:decimal" />
				<xs:element name="QtyOnHand" type="xs:decimal" />
				<xs:element name="QtyOnHold" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SH_REPORT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReportID" type="xs:string" />
				<xs:element name="RptTitle" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
