en/reports/crystal/WS_StdRpt_DS_SumStkMoveList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="WS_StdRpt_DS_SumStkMoveList" targetNamespace="http://tempuri.org/WS_StdRpt_DS_SumStkMoveList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/WS_StdRpt_DS_SumStkMoveList.xsd" xmlns:mstns="http://tempuri.org/WS_StdRpt_DS_SumStkMoveList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="WS_StdRpt_DS_SumStkMoveList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="ProdTypeCode" type="xs:string" />
				<xs:element name="ProdBrandCode" type="xs:string" />
				<xs:element name="ProdModelCode" type="xs:string" />
				<xs:element name="ProdCatCode" type="xs:string" />
				<xs:element name="ProdMatCode" type="xs:string" />
				<xs:element name="StockAnalysisCode" type="xs:string" />
				<xs:element name="ItemCode" type="xs:string" />
				<xs:element name="ItemDesc" type="xs:string" />
				<xs:element name="UOMCode" type="xs:string" />
				<xs:element name="Bin" type="xs:string" />
				<xs:element name="OpeningBal" type="xs:decimal" />
				<xs:element name="LastOrderDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="StkReceivedQty" type="xs:decimal" />
				<xs:element name="StkAdjustmentQty" type="xs:decimal" />
				<xs:element name="StkIssueQty" type="xs:decimal" />
				<xs:element name="StkTransferQty" type="xs:decimal" />
				<xs:element name="StkReturnQty" type="xs:decimal" />
				<xs:element name="StkReturnAdviceQty" type="xs:decimal" />
				<xs:element name="LastIssueDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="ClosingBal" type="xs:decimal" />
				<xs:element name="YTDOrderedQty" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
