en/GL/reports/Crystal/GL_Rpt_SubBlock.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_Rpt_SubBlock" targetNamespace="http://tempuri.org/GL_Rpt_SubBlock.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_Rpt_SubBlock.xsd" xmlns:mstns="http://tempuri.org/GL_Rpt_SubBlock.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_SUBBLK">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SubBlkCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="PlantingDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="StartArea" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalArea" type="xs:decimal" minOccurs="0" />
				<xs:element name="TransferBlkCode" type="xs:string" minOccurs="0" />
				<xs:element name="TransferDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="AreaUOM" type="xs:string" minOccurs="0" />
				<xs:element name="AreaAvgUOM" type="xs:string" minOccurs="0" />
				<xs:element name="CropUOM" type="xs:string" minOccurs="0" />
				<xs:element name="CropAvgUOM" type="xs:string" minOccurs="0" />
				<xs:element name="PlantMaterial" type="xs:string" minOccurs="0" />
				<xs:element name="StdPerArea" type="xs:decimal" minOccurs="0" />
				<xs:element name="HarvestStartDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="HarvestRateYield" type="xs:decimal" minOccurs="0" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="CreateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="UserName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>