en/GL/reports/Crystal/GL_Rpt_VehExpense.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="GL_Rpt_VehExpense" targetNamespace="http://tempuri.org/GL_Rpt_VehExpense.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_Rpt_VehExpense.xsd" xmlns:mstns="http://tempuri.org/GL_Rpt_VehExpense.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_VEHSUB">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VehExpGrpCode" type="xs:string" />
				<xs:element name="VehExpenseCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="UOMCode" type="xs:string" minOccurs="0" />
				<xs:element name="RunCostInd" type="xs:string" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="CreateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="UserName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>