en/GL/reports/Crystal/GL_StdRpt_FSNRCBUDGET.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GL_StdRpt_FSNRC" targetNamespace="http://tempuri.org/GL_StdRpt_FSNRCBUDGET.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/GL_StdRpt_FSNRCBUDGET.xsd" xmlns:mstns="http://tempuri.org/GL_StdRpt_FSNRC.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GL_StdRpt_FSNRCBUDGET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReportCode" type="xs:string" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="DispSeq" type="xs:integer" />
				<xs:element name="RowType" type="xs:string" />
				<xs:element name="RowId" type="xs:integer" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
				<xs:element name="Description2" type="xs:string" />
				<xs:element name="RefNo" type="xs:string" />
				<xs:element name="UrutRefNo" type="xs:string" />
				<xs:element name="FSpace" type="xs:integer" />
				<xs:element name="FUnderline" type="xs:integer" />
				<xs:element name="FBold" type="xs:integer" />
				<xs:element name="FFont" type="xs:integer" />
				<xs:element name="FNegSign" type="xs:integer" />
				<xs:element name="LocAwal" type="xs:decimal" />
				<xs:element name="LocMutasi" type="xs:decimal" />
        <xs:element name="LocAkhir" type="xs:decimal" />
        <xs:element name="BudBI" type="xs:decimal" />
        <xs:element name="BudSBI" type="xs:decimal" />
        <xs:element name="LocCode" type="xs:string" />
				<xs:element name="Title1" type="xs:string" />
				<xs:element name="Title2" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
