en/NU/reports/Crystal/NU_Rpt_NUBatch.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="NU_Rpt_NUBatch" targetNamespace="http://tempuri.org/NU_Rpt_NUBatch.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/NU_Rpt_NUBatch.xsd" xmlns:mstns="http://tempuri.org/NU_Rpt_NUBatch.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="NU_NURSERYBATCH">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="BatchNo" type="xs:decimal" />
				<xs:element name="PlantMaterial" type="xs:string" />
				<xs:element name="ReceivedQty" type="xs:decimal" />
				<xs:element name="DoubleTurnQty" type="xs:decimal" />
				<xs:element name="UnplantedCulledQty" type="xs:decimal" />
				<xs:element name="PreNurseryCulledQty" type="xs:decimal" />
				<xs:element name="MainNurseryCulledQty" type="xs:decimal" />
				<xs:element name="DispatchedQty" type="xs:decimal" />
				<xs:element name="BalanceQty" type="xs:decimal" />
				<xs:element name="UnplantedQty" type="xs:decimal" />
				<xs:element name="PreNurseryQty" type="xs:decimal" />
				<xs:element name="MainNurseryQty" type="xs:decimal" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="UpdateID" type="xs:string" />
				<xs:element name="UserName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>