en/PU/reports/Crystal/PU_Rpt_SupplierList.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PU_Rpt_SupplierList" targetNamespace="http://tempuri.org/PU_Rpt_SupplierList.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PU_Rpt_SupplierList.xsd" xmlns:mstns="http://tempuri.org/PU_Rpt_SupplierList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="PU_Rpt_SupplierList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SupplierCode" type="xs:string" />
				<xs:element name="Name" type="xs:string" minOccurs="0" />
				<xs:element name="ContactPerson" type="xs:string" minOccurs="0" />
				<xs:element name="Address" type="xs:string" minOccurs="0" />
				<xs:element name="Town" type="xs:string" minOccurs="0" />
				<xs:element name="State" type="xs:string" minOccurs="0" />
				<xs:element name="PostCode" type="xs:string" minOccurs="0" />
				<xs:element name="CountryCode" type="xs:string" minOccurs="0" />
				<xs:element name="CountryDesc" type="xs:string" minOccurs="0" />
				<xs:element name="TelNo" type="xs:string" minOccurs="0" />
				<xs:element name="FaxNo" type="xs:string" minOccurs="0" />
				<xs:element name="Email" type="xs:string" minOccurs="0" />
				<xs:element name="FinAccCode" type="xs:string" minOccurs="0" />
				<xs:element name="AccCode" type="xs:string" minOccurs="0" />
				<xs:element name="CreditTerm" type="xs:string" minOccurs="0" />
				<xs:element name="TermType" type="xs:string" minOccurs="0" />
				<xs:element name="CreditLimit" type="xs:string" minOccurs="0" />
				<xs:element name="BankCode" type="xs:string" minOccurs="0" />
				<xs:element name="Description" type="xs:string" minOccurs="0" />
				<xs:element name="BankAccName" type="xs:string" minOccurs="0" />
				<xs:element name="BankAccNo" type="xs:string" minOccurs="0" />
				<xs:element name="SuppType" type="xs:string" minOccurs="0" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="UserName" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="CompName" type="xs:string" minOccurs="0" />
				<xs:element name="LocName" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>