en/PU/reports/Crystal/PU_Rpt_GoodsReturn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PU_Rpt_GoodsReturn" targetNamespace="http://tempuri.org/PU_Rpt_GoodsReturn.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PU_Rpt_GoodsReturn.xsd" xmlns:mstns="http://tempuri.org/PU_Rpt_GoodsReturn.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="GoodsReturn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GoodsRetId" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="SupplierCode" type="xs:string" minOccurs="0" />
				<xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="Remark" type="xs:string" minOccurs="0" />
				<xs:element name="AccMonth" type="xs:string" minOccurs="0" />
				<xs:element name="AccYear" type="xs:string" minOccurs="0" />
				<xs:element name="Status" type="xs:string" minOccurs="0" />
				<xs:element name="CreateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="PrintDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="PrintStatus" type="xs:string" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="GoodsRetType" type="xs:string" />
				<xs:element name="ContactPerson" type="xs:string" minOccurs="0" />
				<xs:element name="SupplierName" type="xs:string" minOccurs="0" />
				<xs:element name="Address" type="xs:string" minOccurs="0" />
				<xs:element name="Town" type="xs:string" minOccurs="0" />
				<xs:element name="State" type="xs:string" minOccurs="0" />
				<xs:element name="PostCode" type="xs:string" minOccurs="0" />
				<xs:element name="CountryCode" type="xs:string" minOccurs="0" />
				<xs:element name="TelNo" type="xs:string" minOccurs="0" />
				<xs:element name="FaxNo" type="xs:string" minOccurs="0" />
				<xs:element name="CountryDesc" type="xs:string" />
				<xs:element name="UserName" type="xs:string" />
				<xs:element name="SupplierAccCode" type="xs:string" minOccurs="0" />
				<xs:element name="MobileTel" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GoodsReturnLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GoodsRetLnId" type="xs:string" />
				<xs:element name="GoodsRetId" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="VehCode" type="xs:string" />
				<xs:element name="VehExpenseCode" type="xs:string" />
				<xs:element name="ItemCode" type="xs:string" minOccurs="0" />
				<xs:element name="QtyReturn" type="xs:decimal" minOccurs="0" />
				<xs:element name="Cost" type="xs:decimal" minOccurs="0" />
				<xs:element name="Amount" type="xs:decimal" minOccurs="0" />
				<xs:element name="ItemDesc" type="xs:string" />
				<xs:element name="PurchaseUOM" type="xs:string" />
				<xs:element name="DOCID" type="xs:string" />
				<xs:element name="POID" type="xs:string" />
				<xs:element name="PPN" type="xs:string" />
				<xs:element name="PBBKB" type="xs:decimal" minOccurs="0" />
				<xs:element name="CurrencyCode" type="xs:string" />
				<xs:element name="ExchangeRate" type="xs:decimal" minOccurs="0" />
				<xs:element name="POType" type="xs:string" />
				<xs:element name="Terbilang" type="xs:string" />
				<xs:element name="OA" type="xs:decimal" />
				<xs:element name="PPH22" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
				<xs:element name="Address" type="xs:string" />
				<xs:element name="PostCode" type="xs:string" />
				<xs:element name="State" type="xs:string" />
				<xs:element name="City" type="xs:string" />
				<xs:element name="CountryCode" type="xs:string" />
				<xs:element name="TelNo" type="xs:string" />
				<xs:element name="FaxNo" type="xs:string" />
				<xs:element name="EPFRef" type="xs:string" minOccurs="0" />
				<xs:element name="SocsoRef" type="xs:string" minOccurs="0" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="LocCountryName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>