en/reports/crystal/bkup/AP_StdRpt_MutasiAccountPayableCur.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="AP_StdRpt_MutasiAccountPayableCur" targetNamespace="http://tempuri.org/AP_StdRpt_MutasiAccountPayableCur.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/AP_StdRpt_MutasiAccountPayableCur.xsd" xmlns:mstns="http://tempuri.org/AP_StdRpt_MutasiAccountPayableCur.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="AP_StdRpt_MutasiAccountPayableCur">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CreateDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="SupplierCode" type="xs:string" minOccurs="0" />
				<xs:element name="Name" type="xs:string" minOccurs="0" />
				<xs:element name="POID" type="xs:string" minOccurs="0" />
				<xs:element name="CurrencyCode" type="xs:string" minOccurs="0" />
				<xs:element name="TotAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="PORate" type="xs:decimal" minOccurs="0" />
 				<xs:element name="CurrRate" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>


