en/en/CB/reports/Crystal/CB_RPT_ChequeGiroPrint.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CB_RPT_ChequeGiroPrint" targetNamespace="http://tempuri.org/CB_RPT_ChequeGiroPrint.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CB_RPT_ChequeGiroPrint.xsd" xmlns:mstns="http://tempuri.org/CB_RPT_ChequeGiroPrint.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="CashBank">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CashBankID" type="xs:string" />
				<xs:element name="CashBankType" type="xs:string" />
				<xs:element name="SourceType" type="xs:string" />
				<xs:element name="BankCode" type="xs:string" minOccurs="0" />
				<xs:element name="ChequeNo" type="xs:string" minOccurs="0" />
				<xs:element name="FromTo" type="xs:string" minOccurs="0" />
				<xs:element name="LocCode" type="xs:string" minOccurs="0" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="PrintDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="ChequePrintDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="BankName" type="xs:string" minOccurs="0" />
				<xs:element name="UserName" type="xs:string" minOccurs="0" />
				<xs:element name="BankAccNo" type="xs:string" minOccurs="0" />
				<xs:element name="SuppBankName" type="xs:string" minOccurs="0" />
				<xs:element name="SuppBankAccName" type="xs:string" minOccurs="0" />
				<xs:element name="SuppBankAccNo" type="xs:string" minOccurs="0" />
				<xs:element name="SuppBankAddress" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CashBankLn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CashBankID" type="xs:string" />
				<xs:element name="CashBankLnID" type="xs:string" />
				<xs:element name="Description" type="xs:string" />
				<xs:element name="Quantity" type="xs:double" />
				<xs:element name="UnitPrice" type="xs:double" />
				<xs:element name="Total" type="xs:double" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="VehCode" type="xs:string" />
				<xs:element name="VehExpCode" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="DocType" type="xs:string" />
				<xs:element name="CurrencyCode" type="xs:string" />
				<xs:element name="ExchangeRate" type="xs:double" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>