en/CB/reports/Crystal/CB_Rpt_ReceiptDet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="CB_Rpt_ReceiptDet" targetNamespace="http://tempuri.org/CB_Rpt_ReceiptDet.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/CB_Rpt_ReceiptDet.xsd" xmlns:mstns="http://tempuri.org/CB_Rpt_ReceiptDet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Receipt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReceiptID" type="xs:string" />
				<xs:element name="CustomerCode" type="xs:string" />
				<xs:element name="ReceiptType" type="xs:string" />
				<xs:element name="BankCode" type="xs:string" minOccurs="0" />
				<xs:element name="ChequeNo" type="xs:string" minOccurs="0" />
				<xs:element name="CurrencyCode" type="xs:string" minOccurs="0" />
				<xs:element name="ARCurrencyCode" type="xs:string" minOccurs="0" />
				<xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalAmountIDR" type="xs:decimal" minOccurs="0" />
				<xs:element name="Remark" type="xs:string" minOccurs="0" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="PrintDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
        <xs:element name="UserName" type="xs:string" />
        <xs:element name="CustomerName" type="xs:string" minOccurs="0" />
				<xs:element name="CustAccCode" type="xs:string" minOccurs="0" />
				<xs:element name="ContactPerson" type="xs:string" minOccurs="0" />
				<xs:element name="Address" type="xs:string" minOccurs="0" />
				<xs:element name="Town" type="xs:string" minOccurs="0" />
				<xs:element name="State" type="xs:string" minOccurs="0" />
				<xs:element name="PostCode" type="xs:string" minOccurs="0" />
				<xs:element name="CountryCode" type="xs:string" minOccurs="0" />
				<xs:element name="TelNo" type="xs:string" minOccurs="0" />
				<xs:element name="FaxNo" type="xs:string" minOccurs="0" />
				<xs:element name="CountryName" type="xs:string" />
				<xs:element name="BankName" type="xs:string" minOccurs="0" />
        <xs:element name="BankAccNo" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReceiptLn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReceiptID" type="xs:string" />
				<xs:element name="ReceiptLnID" type="xs:string" />
				<xs:element name="DocID" type="xs:string" />
				<xs:element name="DocType" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" />
				<xs:element name="AmountIDR" type="xs:decimal" minOccurs="0" />
				<xs:element name="TotalAmountCurrency" type="xs:decimal" minOccurs="0" />
        <xs:element name="AccCode" type="xs:string" />
        <xs:element name="CurrencyCode" type="xs:string" />
				<xs:element name="ExchangeRate" type="xs:decimal" />
				<xs:element name="ARExchangeRate" type="xs:decimal" />
				<xs:element name="CBExchangeRate" type="xs:decimal" />
				<xs:element name="ARCurrencyCode" type="xs:string" minOccurs="0" />
				<xs:element name="AdditionalNote" type="xs:string"/>
        <xs:element name="AccDescr" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>