en/PR/reports/Crystal/PR_Rpt_ContractPayDet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="PR_Rpt_ContractPayDet" targetNamespace="http://tempuri.org/PR_Rpt_ContractPayDet.xsd" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://tempuri.org/PR_Rpt_ContractPayDet.xsd" xmlns:mstns="http://tempuri.org/PR_Rpt_ContractPayDet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="ContractPay">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContractId" type="xs:string" />
				<xs:element name="AccCode" type="xs:string" />
				<xs:element name="BlkCode" type="xs:string" />
				<xs:element name="VehCode" type="xs:string" minOccurs="0" />
				<xs:element name="VehExpenseCode" type="xs:string" minOccurs="0" />
				<xs:element name="QtyReq" type="xs:string" minOccurs="0" />
				<xs:element name="AmountReq" type="xs:string" minOccurs="0" />
				<xs:element name="QtyComplete" type="xs:string" minOccurs="0" />
				<xs:element name="AmountComplete" type="xs:string" minOccurs="0" />
				<xs:element name="Remark" type="xs:string" minOccurs="0" />
				<xs:element name="AccMonth" type="xs:string" />
				<xs:element name="AccYear" type="xs:string" />
				<xs:element name="LocCode" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
				<xs:element name="CreateDate" type="xs:dateTime" />
				<xs:element name="UpdateDate" type="xs:dateTime" />
				<xs:element name="UpdateID" type="xs:string" minOccurs="0" />
				<xs:element name="PrintDate" type="xs:dateTime" minOccurs="0" />
				<xs:element name="UserName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContractPayLn">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContractId" type="xs:string" />
				<xs:element name="ContractorCode" type="xs:string" />
				<xs:element name="ContractorName" type="xs:string" />
				<xs:element name="Amount" type="xs:string" />
				<xs:element name="TotalAmount" type="xs:string" />
				<xs:element name="EmpCode" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>